#addresschamber{
    width: 500px;
    margin-top: 90px;
    margin-left: 15%;
    height: fit-content;
    padding: 20px;
    margin-bottom: 300px;
}
#addaddress{
    display: flex;
    justify-content: center;
}
#submitaddress{
    width: max-content;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 12px;
}