/* Login CSS File */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#loginchamber {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    width: 400px;
    /* margin-top: 70px; */
    padding: 20px;
    margin-bottom: 260px;
}

#loginchamber>h5 {
    margin-top: 100px;
    font-weight: bold;
    font-size: 12px;
}

.AcInputs {
    border: 1px solid black;
    width: 97%;
    padding: 5px;
}

.label {
    font-size: small;
    font-weight: bold;
}

.AcInputs:focus {
    outline: none;
    color: black;
    font-weight: bold;
}

#submit {
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    padding: 12px;
    cursor: pointer;
    font-size: 12px;
}

#back {
    width: 100%;
    border: none;
    background-color: white;
    padding: 12px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 15px;
}

input[type="radio"] {
    cursor: pointer;
}

.sel {
    margin: 0 6% 0 3%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#gselect {
    margin-bottom: 20px;
}

.tandc {
    font-size: 12px;
    font-weight: 1000;
}

#MNS,
#WMNS,
#NONE {
    accent-color: black;
}

.label>a {
    margin-right: 20px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#passform>#email,
#newform>#email {
    background-color: gainsboro;
    cursor: not-allowed;
}
#navbar{
    margin-top: 0px;
}